.container-fluid: {
  padding:0;
  margin:0;
  color:black;
}

.row {
  height:100vh;
}

.element {
  display: block;
  margin: 0 auto;
  text-align:center;
}

#sessionTimeLeft {
  width:10vh;
  height:10vh;
  background-color:rgba(184,210,249,.8);
  border-radius:50%;
  position:relative;
    top:22.5vh;
    left:8vh;
  z-index:3;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);

}

#sessionTimeLeft:hover {
  background-color:rgba(184, 210, 249, 1);
}

#sessionTimeLeft:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 8.5vh;
  height: 8.5vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

#sessionTimeLeft p {
  position:relative;
    top:-1.25vh;
  font-size:8vh;
}

#sessionTime {
  width:25vh;
  height:25vh;
  border-radius:50%;
  background:rgba(89, 149, 247, .8);
  position:relative;
    top:5vh;
    left:20vh;
  z-index:2;
  font-size:8vh;
  text-align:center;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
}

#sessionTime:before {
  /* adds the white highlight on the top left of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 12.5vh;
  height: 12.5vh;
  top: 15px;
  left: 15px;
  border-radius: 150px 50px;
  box-shadow: inset 10px 10px 50px rgba(255, 255, 255, 0.4);
}

#sessionTime:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 21.25vh;
  height: 21.25vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.04);
}

#sessionTimeRight {
  width:10vh;
  height:10vh;
  background-color:rgba(184, 210, 249, .8);
  border-radius:50%;
  position:relative;
  left:32vh;
  bottom:12.30vh;
  z-index:4;
  font-size:8vh;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
}

#sessionTimeRight:hover {
  background-color:rgba(184, 210, 249, 1);
}

#sessionTimeRight:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 8.5vh;
  height: 8.5vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

#sessionTimeRight p {
  position:relative;
    top:-1.25vh;
}

#breakTimeLeft {
  width:10vh;
  height:10vh;
  background-color:rgba(184, 210, 249, .8);
  border-radius:50%;
  position:relative;
    bottom:55vh;
    left: 8vh;
  z-index:3;
  font-size:8vh;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
  opacity:.8;
}

#breakTimeLeft:hover {
  background-color:rgba(184, 210, 249, 1);
}

#BreakTimeLeft:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 8.5vh;
  height: 8.5vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}



#breakTimeLeft p {
  position:relative;
    top:-1.5vh;
}

#breakTime {
  width:25vh;
  height:25vh;
  border-radius:50%;
  background:rgba(211,211,211,.8);
  position:relative;
    bottom:73vh;
    left:20vh;
  font-size:8vh;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
}


#breakTime:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 21.25vh;
  height: 21.25vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

p {
  position:relative;
  top:6.5vh;
}

#breakTimeRight {
  width:10vh;
  height:10vh;
  background-color:rgba(184, 210, 249, .8);
  border-radius:50%;
  position: relative;
    left:32vh;
    bottom:90vh;
  font-size:8vh;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
  opacity:.8;
}

#breakTimeRight:hover {
  background-color:rgba(184, 210, 249, 1);
}

#breakTimeRight:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 8.5vh;
  height: 8.5vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

#breakTimeRight p {
  position:relative;
    top:-1.5vh;
}

#screen {
  height:50vh;
  width:50vh;
  border-radius:50%;
  background:rgba(173,216,230, .8);
  text-align:center;
  position:relative;
    bottom:45vh;
  font-size:13vh;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 30px rgba(0, 0, 0, 0.5), inset 0px 0px 75px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
}

#screen:before {
  /* adds the white highlight on the top left of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 25vh;
  height: 25vh;
  top: 15px;
  left: 15px;
  border-radius: 150px 50px;
  box-shadow: inset 10px 10px 50px rgba(255, 255, 255, 0.4);
}

#screen:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 42.5vh;
  height: 46.5vh;
  border-radius: 205px;
  left: 30px;
  top: 30px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

#screen p {
  position:relative;
  top:14vh;
}

#startStop {
  width:25vh;
  height:25vh;
  border-radius:50%;
  background:rgba(139, 179, 244, .8);
  position:relative;
    right:30vh;
    bottom:8vh;
  z-index:4;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);
}

#startStop:hover {
  background:rgba(139, 179, 244, 1);
}

#startStop:before {
  /* adds the white highlight on the top left of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 12.5vh;
  height: 12.5vh;
  top: 15px;
  left: 15px;
  border-radius: 150px 50px;
  box-shadow: inset 10px 10px 50px rgba(255, 255, 255, 0.4);
}

#startStop:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 21.25vh;
  height: 21.25vh;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

#startStop p {
  font-size:6vh;
  position:relative;
    top:8vh;
  opacity:1;
}

#reset {
  width:20vh;
  height:20vh;
  border-radius:50%;
  background:rgba(163, 180, 209, .8);
  position:relative;
    right:22vh;
    bottom:108vh;
  z-index:3;
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, 0.1), inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.75);

}

#reset:after {
  /* adds the darker lowlight on the bottom of the bubble */
  content: "";
  display: block;
  position: absolute;
  width: 70vh;
  height: 70vhpx;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.05);
}

#reset p {
  font-size:5vh;
  position:relative;
    top:6Svh;
  opacity:1;
}

#reset:hover {
  background:rgba(163, 180, 209, 1);
}

 p {
   user-select:none;
   font-family:'Oxygen';
   font-weight:bold;
 }
